body {
  background-color: #eaffee;
}
h1 {
  text-align: center;
  font-family: 'Lobster Two';
  font-size: 30px;
}

ul {
  list-style-type: none;
  padding: 20px;
  margin-top: 50px;
  overflow: hidden;
  background-image: url(https://static.pexels.com/photos/122429/leaf-nature-green-spring-122429.jpeg); //put in everyone's document
}
li {
  float: left;
}
li a {
  font-family: "Lobster Two";
  font-size: 150%;
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 5px 95px;
  text-decoration: none;
}
li a:hover {
  background-color: #68db92;
}
body {
  background-color: #eaffee;
}
h2 {
  text-align: center;
  font-family: "Lobster Two";
  color:#1b5e20;
}
.pics {
  margin-bottom: 50px;
  margin-left: 20px;
}
footer {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-family: "Lobster Two";
  font-size: 240%;
}
