.header {
  margin-left: 200px;
}
h1 {
  color: #1b5e20;
  font-size: 250%;
}
h2 {
  font-family: verdana;
  font-size: 180%;
}
body {
  background-color: #eaffee;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
}
p {
  text-indent: 2em;
  font-family: "Roboto";
  color:rgb(111, 111, 111);
  font-size: 130%;
}
.leaf {
  display: inline-block;
}
.header1 {
  margin-right: 120px;
}
ul {
  list-style-type: none;
  padding: 20px;
  margin-top: 50px;
  overflow: hidden;
  background-image: url(https://static.pexels.com/photos/122429/leaf-nature-green-spring-122429.jpeg); //put in everyone's document
}
li {
  float: left;
}
li a {
  font-family: "Lobster Two";
  font-size: 150%;
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 5px 95px;
  text-decoration: none;
}
li a:hover {
  background-color: #68db92;
}
h2 {
  font-family: 'Lobster Two';
  color:#1b5e20;
}
